<launch>
  <param name="/use_sim_time" value="true" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find we_mapping)/configuration_files
          -configuration_basename urg_lidar_2d.lua"
      output="screen">
    <!-- <remap from="scan" to="/laser_scan" /> -->
    <!-- <remap from="imu" to="/mobile_base/sensors/imu_data" /> -->
  </node>
<!-- 
  <node name="flat_world_imu_node" pkg="cartographer_turtlebot"
      type="cartographer_flat_world_imu_node" output="screen">
    <remap from="imu_in" to="/mobile_base/sensors/imu_data" />
    <remap from="imu_out" to="/imu" />
  </node> -->

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find we_mapping)/rviz/cartographer.rviz" />
  <node name="playbag" pkg="rosbag" type="play"
      args="-s 3 -r 1 --clock $(arg bag_filename)" />

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>